{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-3">{{ course.get('Facility', {}).get('FacilityName', 'Course Details Not Available') }}</h1>
    <p><strong>Address:</strong> {{ course['Facility'].get('GeoLocationFormattedAddress', course.get('CourseCity', 'City
        not available') + ', ' + course.get('CourseState', 'State not available')) }}</p>
    <p><strong>Status:</strong> {{ course['Facility'].get('FacilityStatus', 'Status Not Available') }}</p>
    <p><strong>Season Start:</strong> {{ course['Season'].get('SeasonStartDate', 'Season Start Not Available') }}</p>
    <p><strong>Season End:</strong> {{ course['Season'].get('SeasonEndDate', 'Season End Not Available') }}</p>

    {% if course %}
    <form action="{{ url_for('start_round', course_id=course['CourseId']) }}" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.tee.label(class="form-label") }}
            {{ form.tee(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.game_type.label(class="form-label") }}
            {{ form.game_type(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.use_handicap.label(class="form-label") }}
            {{ form.use_handicap() }} Yes
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
    {% else %}
    <p><strong>Error:</strong> No valid course information available. Please try again.</p>
    {% endif %}
</div>
{% endblock %}